.conButton {
  border-bottom: #e2dedec4 solid 2.5px;
}
.conButton button {
  display: inline-block;
  padding: 10px 80px;
  background-color: white;
  border-radius: 5px 5px 0 0;
  font-size: smaller;
}
#active {
  border-radius: 5px 5px 0 0;
  display: inline-block;
  padding: 20px 80px 10px;
  color: aliceblue;
}
#sent {
  display: inline-block;
  padding: 8px 45px 10;
}

@media (max-width: 830px) {
  div.conButton {
    text-align: center;
  }
}
@media (max-width: 528px) {
  button #active,
  button #sent {
    width: 100%;
  }
}

button .active{
  background-color: blue;
}