.recentConnection {
  padding: 10px;
}
.date {
  text-align: end;
  padding: 25px 0 0 0;
  font-size: small;
  align-self: stretch;
}
.recentConnection .profile {
  display: grid;
  grid-template-columns: 0.7fr 1.9fr 2fr;
  padding-right: 10px;
  margin-left: 10px;
  margin: 5px;
  box-shadow: 1px 1px 7px 1px rgb(96, 95, 95);
  padding: 5px;
   background-color: white;
   border-radius: 3px;
}
.recentConnection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.about p {
  width: 100%;
  margin: 0;
  
}

.name{
font-size: large;
}
.skill{
font-size: small;

}
.connectionText hr {
  display: inline-block;
  width: 30%;
  border-color: rgb(203, 200, 197);
  margin-right: 5px;
  margin-left: 5px;
}