.NotificationSideBar {
  width: calc(100vw - 40px); /* Adjusted width to be full-page with margin */
  max-width: 800px; /* Set maximum width for content */
  margin: 20px auto; /* Center the component horizontally */
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard {
  margin-bottom: 30px; /* Increased margin bottom for spacing */
}

.dashboard h4 {
  font-size: 24px; /* Increased font size */
  color: #333;
  margin-bottom: 15px; /* Increased margin bottom for spacing */
}

.stats {
  font-size: 16px; /* Increased font size */
  color: #666;
  cursor: pointer;
}

.stats:hover {
  color: #333;
}

.NotificationSideBar div {
  margin-bottom: 25px; /* Increased margin bottom for spacing */
}

.NotificationSideBar p {
  font-size: 32px; /* Increased font size */
  color: #333;
  margin-bottom: 10px; /* Increased margin bottom for spacing */
}

.NotificationSideBar span {
  font-size: 18px; /* Increased font size */
  color: #666;
}
